<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=4cd5996f3340ae81a2aa63f1a644eb60"></script>

<div id="mapall"></div>
<script type="text/javascript">
    function checkSize() {
        var h = document.documentElement.clientHeight;
        document.getElementById('aside').style.height = h - 80 + "px";
        document.getElementById('mapall').style.height = h - 80 + "px";
    }
    checkSize();

    var map = new BMap.Map("mapall");
    map.centerAndZoom(new BMAP.Point(89.626, 42.858), 13);
    options = {};
    var pointCollectionBig;

    setInterval(function () {
        $.ajax({
            type: "GET",
            url: "/admin/monitor/events"
            success: function (data) {
                map.removeOverlay(pointCollectionBig);
                var points = [];
                for (i = 0; i < data.positions.length; i++) {
                    points.push(data.positions[i].lat, data.positions[i].lng);
                }
                var pointCollection = new BMAP.PointCollection(points, options)
                map.addOverlay(pointCollection);
                pointCollectionBig = pointCollection;
            }
        });

    }, 15000)

</script>


