<aside id="aside" class="app-aside hidden-xs bg-dark">
  <div class="aside-wrap">
    <div class="navi-wrap">
    <!-- nav -->
      <nav ui-nav="" class="navi clearfix">
        <ul class="nav">
          <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
            <span>管理后台</span>
          </li>

          <li class="line dk"></li>

          <li>
            <a href="" class="auto">
                  <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                  </span>
              <b class="badge bg-info pull-right">3</b>
              <i class="glyphicon glyphicon-th"></i>
              <span>用户群管理</span>
            </a>
            <ul class="nav">
              <li class="nav-sub-header">
                <a href="">
                  <span>用户群管理</span>
                </a>
              </li>
              <li>
                <a href="/admin/customers/new_bulk">
                  <span>批量导入</span>
                </a>
              </li>

              <li>
                <a href="/admin/customers/new">
                  <span>新建用户</span>
                </a>
              </li>
              <li>
                <a href="/admin/customers/">
                  <span>用户列表(文字)</span>
                </a>
              </li>
              <li>
                <a href="/admin/customers/index_map">
                  <span>用户列表(地图)</span>
                </a>
              </li>
            </ul>
          </li>

          <li class="line dk hidden-folded"></li>
          <li>
            <a href="" class="auto">
                  <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                  </span>
              <b class="badge bg-info pull-right">3</b>
              <i class="glyphicon glyphicon-th"></i>
              <span>系统管理</span>
            </a>
            <ul class="nav">
              <li>
                <a href="/admin/sys/config_location">
                  <span>配置关键位置</span>
                </a>
              </li>
              <li>
                <a href="/admin/sys/location_list">
                  <span>关键位置列表</span>
                </a>
              </li>
              <li>
                <a href="/admin/sys/config_distance">
                  <span>配置报警距离</span>
                </a>
              </li>
              <li>
                <a href="/admin/sys/config_plan">
                  <span>配置应急预案</span>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="" class="auto">
                  <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                  </span>
              <b class="badge bg-info pull-right">3</b>
              <i class="glyphicon glyphicon-th"></i>
              <span>监控</span>
            </a>
            <ul class="nav">
              <li class="nav-sub-header">
                <a href="">
                  <span>监控</span>
                </a>
              </li>
              <li>
                <a href="/admin/monitor/events">
                  <span>实时告警</span>
                </a>
              </li>
              <!--<li>-->
                <!--<a href="/admin/monitor/customers">-->
                  <!--<span>实时动态</span>-->
                <!--</a>-->
              <!--</li>-->
            </ul>
          </li>

          <li class="line dk hidden-folded"></li>




        </ul>
      </nav>
      <!-- nav -->

      <!-- aside footer -->
      <!-- / aside footer -->
    </div>
  </div>
</aside>