<aside id="aside" class="app-aside hidden-xs bg-dark">
  <div class="aside-wrap">
    <div class="navi-wrap">
    <!-- nav -->
      <nav ui-nav="" class="navi clearfix">
        <ul class="nav">
          <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
            <span>管理后台</span>
          </li>

          <li class="line dk"></li>

          <li>
            <a href="" class="auto">
                  <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                  </span>
              <b class="badge bg-info pull-right">3</b>
              <i class="glyphicon glyphicon-th"></i>
              <span>用户群管理</span>
            </a>
            <ul class="nav">
              <li class="nav-sub-header">
                <a href="">
                  <span>用户群管理</span>
                </a>
              </li>
              <li>
                <a href="/provider/products/new">
                  <span>批量导入</span>
                </a>
              </li>
              <li>
                <a href="/provider/products">
                  <span>新建用户</span>
                </a>
              </li>
              <li>
                <a href="/provider/products">
                  <span>用户列表</span>
                </a>
              </li>
            </ul>
          </li>

          <li class="line dk hidden-folded"></li>
          <li>
            <a href="" class="auto">
                  <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                  </span>
              <b class="badge bg-info pull-right">3</b>
              <i class="glyphicon glyphicon-th"></i>
              <span>系统管理</span>
            </a>
            <ul class="nav">
              <li>
                <a href="/provider/products/new">
                  <span>配置关键位置</span>
                </a>
              </li>
              <li>
                <a href="layout_fullwidth.html">
                  <span>参数配置</span>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="" class="auto">
                  <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                  </span>
              <b class="badge bg-info pull-right">3</b>
              <i class="glyphicon glyphicon-th"></i>
              <span>监控</span>
            </a>
            <ul class="nav">
              <li class="nav-sub-header">
                <a href="">
                  <span>监控</span>
                </a>
              </li>
              <li>
                <a href="/provider/home/new/new_sales_area">
                  <span>实时告警</span>
                </a>
              </li>
              <li>
                <a href="/provider/home/index_sales_area">
                  <span>实时动态</span>
                </a>
              </li>
            </ul>
          </li>

          <li class="line dk hidden-folded"></li>
          <li>
            <a href="" class="auto">
                  <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                  </span>
              <b class="badge bg-info pull-right">3</b>
              <i class="glyphicon glyphicon-th"></i>
              <span>地图展示</span>
            </a>
            <ul class="nav">
              <li>
                <a href="/home">
                  <span>实时展示</span>
                </a>
              </li>
              <li>
                <a href="/admin/home/single_person">
                  <span>个人展示</span>
                </a>
              </li>
            </ul>
          </li>
          <li>

          <li class="line dk hidden-folded"></li>
        </ul>
      </nav>
      <!-- nav -->

      <!-- aside footer -->
      <!-- / aside footer -->
    </div>
  </div>
</aside>